@page 
@model lab5.Pages.Services.IndexModel


<h1>Services</h1>
@{
    if(TempData["success"] != null)
    {
        <h1>@TempData["success"]</h1>
    }
}
<a asp-page="Create" class="btn btn-primary">Add new service</a>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Service
            </th>
            <th>
                Per meter
            </th>
            <th>
                Per person
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var service in Model._services)
        {
            <tr>
                <td>
                    @service.ID
                </td>
                <td>
                    @service.ServiceName
                </td>
                <td>
                    @service.PricePerSquareMeter
                </td>
                <td>
                    @service.PricePerPerson
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@service.ID" class="btn btn-warning">Edit service</a>
                </td>
                <td>
                    <a asp-page="Delete" asp-route-id="@service.ID" class="btn btn-danger">Delete service</a>
                </td>
            </tr>
        }
    </tbody>
</table>