@page 
@model lab5.Pages.Addresses.IndexModel


<h1>Addresses</h1>
@{
    if(TempData["success"] != null)
    {
        <h1>@TempData["success"]</h1>
    }
}
<a asp-page="Create" class="btn btn-primary">Add new address</a>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Street
            </th>
            <th>
                House
            </th>
            <th>
                Apartment
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var address in Model._addresses)
        {
            <tr>
                <td>
                    @address.ID
                </td>
                <td>
                    @address.Street
                </td>
                <td>
                    @address.House
                </td>
                <td>
                    @address.Apartment
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@address.ID" class="btn btn-warning">Edit address</a>
                </td>
                <td>
                    <a asp-page="Delete" asp-route-id="@address.ID" class="btn btn-danger">Delete address</a>
                </td>
            </tr>
        }
    </tbody>
</table>